Repository victorandujar/202301-w3ch1-Victor-Andujar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Add npm prettier package
  .lintstagedrc.json
  package-lock.json
  package.json
Due: prettier --write

Add audit action at workflows
  .github/workflows/audit.yml
Due: none

Correct editorconfig format
  .editorconfig
Due: none

Delete empty file from the working directory
  src/index.ts
Due: none

Add main classes files to the project
  src/characters/Advisor/Advisor.ts
  src/characters/Character/Character.ts
  src/characters/Fighter/Fighter.ts
  src/characters/King/King.ts
  src/characters/Squire/Squire.ts
  src/characters/types/types.ts
  src/index.html
  src/index.ts
  tsconfig.json
Due: prettier --write

Add interface at character card structure
  .eslintrc.js
  src/characters/Character/CharacterCard.ts
  src/index.html
  src/index.ts
Due: eslint, prettier --write

Add interface at character card structure
  src/characters/Character/CharacterCard.ts
  src/index.html
  src/index.ts
Due: none

Add interface eslint rule and change type for interface at types.ts
  .eslintrc.js
  .lintstagedrc.json
  src/characters/Character/CharacterCard.ts
  src/characters/types/types.ts
  src/index.html
  src/index.ts
Due: eslint, prettier --write

Add component card structure at component folder
  src/characters/Character/CharacterCard.ts
  src/components/ComponentCard/ComponentCard.ts
  src/index.html
  src/index.ts
Due: none

Add html structure to ComponentsCard file
  src/components/ComponentCard/ComponentCard.ts
  src/index.ts
Due: none

Add cards component to index.html
  src/components/ComponentCard/ComponentCard.ts
  src/index.html
  src/index.ts
  src/styles/styles.css
Due: prettier --write

Add properly name to the card character name
  src/components/ComponentCard/ComponentCard.ts
Due: none

Path conditions:
  eslint: any of: *.js
  prettier --write: any of: *.{js,css,json,md}
